{:paths ["src" "parser"]
 :deps {clj-commons/clj-yaml           {:mvn/version "0.7.0"}
        org.antlr/antlr4-runtime       {:mvn/version "4.7.2"}}

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"]
   :jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "kaocha.runner"]}}}
